# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/

# Test
*.test
*.out
coverage.txt

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.pem

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example
.terraform.lock.hcl
manifest.json

# paperclip
.paperclip-*
